# PyMongoDB

# (1) 설치

In [1]:
pip install pymongo

Requirement already satisfied: pymongo in c:\users\khy51\appdata\local\programs\python\python312\lib\site-packages (4.6.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\khy51\appdata\local\programs\python\python312\lib\site-packages (from pymongo) (2.5.0)
Note: you may need to restart the kernel to use updated packages.

# (2) DB 연결

In [6]:
from pymongo import MongoClient

# MongoDB 인스턴스에 연결
client = MongoClient('mongodb://localhost:27017/')
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

## 만약 user name과 password 설정시 .

In [3]:
client = MongoClient('mongodb://username:password@localhost:27017/')

In [9]:
db = client['example_db']
db
#use example_db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'example_db')

In [10]:
# 콜렉션 선택 (없으면 자동 생성)
collection = db['example_collection']
collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'example_db'), 'example_collection')

# (3) CRUD

In [21]:
# 새 문서 삽입
example_document = {"name": "John", "age": 30, "city": "New York"}
collection.insert_one(example_document)


example_document = [{"name": "John0", "age": 301, "city": "New York1"}, {"name": "John1", "age": 302, "city": "New York2"}, {"name": "John2", "age": 303, "city": "New York3"}]
collection.insert_many(example_document)

InsertManyResult([ObjectId('65c0735dbffbe3d6502b6f5e'), ObjectId('65c0735dbffbe3d6502b6f5f'), ObjectId('65c0735dbffbe3d6502b6f60')], acknowledged=True)

In [26]:
# 모든 문서 조회
for doc in collection.find():
    print(doc)

print('# 조건에 맞는 문서 조회 John0')
# 조건에 맞는 문서 조회
query = {"name": "John0"}
for doc in collection.find(query):
    print(doc)

{'_id': ObjectId('65c07238bffbe3d6502b6f56'), 'name': 'John0', 'age': 31, 'city': 'New York1'}
{'_id': ObjectId('65c07238bffbe3d6502b6f57'), 'name': 'John1', 'age': 302, 'city': 'New York2'}
{'_id': ObjectId('65c07238bffbe3d6502b6f58'), 'name': 'John2', 'age': 303, 'city': 'New York3'}
{'_id': ObjectId('65c0735cbffbe3d6502b6f59'), 'name': 'John', 'age': 32, 'city': 'New York'}
{'_id': ObjectId('65c0735cbffbe3d6502b6f5a'), 'name': 'John0', 'age': 301, 'city': 'New York1'}
{'_id': ObjectId('65c0735cbffbe3d6502b6f5b'), 'name': 'John1', 'age': 302, 'city': 'New York2'}
{'_id': ObjectId('65c0735cbffbe3d6502b6f5c'), 'name': 'John2', 'age': 303, 'city': 'New York3'}
{'_id': ObjectId('65c0735dbffbe3d6502b6f5d'), 'name': 'John', 'age': 32, 'city': 'New York'}
{'_id': ObjectId('65c0735dbffbe3d6502b6f5e'), 'name': 'John0', 'age': 301, 'city': 'New York1'}
{'_id': ObjectId('65c0735dbffbe3d6502b6f5f'), 'name': 'John1', 'age': 302, 'city': 'New York2'}
{'_id': ObjectId('65c0735dbffbe3d6502b6f60'), 'name': 'John2', 'age': 303, 'city': 'New York3'}
# 조건에 맞는 문서 조회 John0
{'_id': ObjectId('65c07238bffbe3d6502b6f56'), 'name': 'John0', 'age': 31, 'city': 'New York1'}
{'_id': ObjectId('65c0735cbffbe3d6502b6f5a'), 'name': 'John0', 'age': 301, 'city': 'New York1'}
{'_id': ObjectId('65c0735dbffbe3d6502b6f5e'), 'name': 'John0', 'age': 301, 'city': 'New York1'}

In [27]:
# 하나의 문서 업데이트
collection.update_one({"name": "John0"}, {"$set": {"age": 311}})

# 여러 문서 업데이트
collection.update_many({"name": "John"}, {"$set": {"age": 33}})

UpdateResult({'n': 2, 'nModified': 2, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [28]:
# 모든 문서 조회
for doc in collection.find():
    print(doc)

print('# 조건에 맞는 문서 조회 John0')
# 조건에 맞는 문서 조회
query = {"name": "John0"}
for doc in collection.find(query):
    print(doc)

{'_id': ObjectId('65c07238bffbe3d6502b6f56'), 'name': 'John0', 'age': 311, 'city': 'New York1'}
{'_id': ObjectId('65c07238bffbe3d6502b6f57'), 'name': 'John1', 'age': 302, 'city': 'New York2'}
{'_id': ObjectId('65c07238bffbe3d6502b6f58'), 'name': 'John2', 'age': 303, 'city': 'New York3'}
{'_id': ObjectId('65c0735cbffbe3d6502b6f59'), 'name': 'John', 'age': 33, 'city': 'New York'}
{'_id': ObjectId('65c0735cbffbe3d6502b6f5a'), 'name': 'John0', 'age': 301, 'city': 'New York1'}
{'_id': ObjectId('65c0735cbffbe3d6502b6f5b'), 'name': 'John1', 'age': 302, 'city': 'New York2'}
{'_id': ObjectId('65c0735cbffbe3d6502b6f5c'), 'name': 'John2', 'age': 303, 'city': 'New York3'}
{'_id': ObjectId('65c0735dbffbe3d6502b6f5d'), 'name': 'John', 'age': 33, 'city': 'New York'}
{'_id': ObjectId('65c0735dbffbe3d6502b6f5e'), 'name': 'John0', 'age': 301, 'city': 'New York1'}
{'_id': ObjectId('65c0735dbffbe3d6502b6f5f'), 'name': 'John1', 'age': 302, 'city': 'New York2'}
{'_id': ObjectId('65c0735dbffbe3d6502b6f60'), 'name': 'John2', 'age': 303, 'city': 'New York3'}
# 조건에 맞는 문서 조회 John0
{'_id': ObjectId('65c07238bffbe3d6502b6f56'), 'name': 'John0', 'age': 311, 'city': 'New York1'}
{'_id': ObjectId('65c0735cbffbe3d6502b6f5a'), 'name': 'John0', 'age': 301, 'city': 'New York1'}
{'_id': ObjectId('65c0735dbffbe3d6502b6f5e'), 'name': 'John0', 'age': 301, 'city': 'New York1'}

In [29]:
# 하나의 문서 삭제
collection.delete_one({"name": "John"})

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

In [30]:
# 모든 문서 조회
for doc in collection.find():
    print(doc)

{'_id': ObjectId('65c07238bffbe3d6502b6f56'), 'name': 'John0', 'age': 311, 'city': 'New York1'}
{'_id': ObjectId('65c07238bffbe3d6502b6f57'), 'name': 'John1', 'age': 302, 'city': 'New York2'}
{'_id': ObjectId('65c07238bffbe3d6502b6f58'), 'name': 'John2', 'age': 303, 'city': 'New York3'}
{'_id': ObjectId('65c0735cbffbe3d6502b6f5a'), 'name': 'John0', 'age': 301, 'city': 'New York1'}
{'_id': ObjectId('65c0735cbffbe3d6502b6f5b'), 'name': 'John1', 'age': 302, 'city': 'New York2'}
{'_id': ObjectId('65c0735cbffbe3d6502b6f5c'), 'name': 'John2', 'age': 303, 'city': 'New York3'}
{'_id': ObjectId('65c0735dbffbe3d6502b6f5d'), 'name': 'John', 'age': 33, 'city': 'New York'}
{'_id': ObjectId('65c0735dbffbe3d6502b6f5e'), 'name': 'John0', 'age': 301, 'city': 'New York1'}
{'_id': ObjectId('65c0735dbffbe3d6502b6f5f'), 'name': 'John1', 'age': 302, 'city': 'New York2'}
{'_id': ObjectId('65c0735dbffbe3d6502b6f60'), 'name': 'John2', 'age': 303, 'city': 'New York3'}

In [31]:

# 여러 문서 삭제
collection.delete_many({"name": "John0"})

DeleteResult({'n': 3, 'ok': 1.0}, acknowledged=True)

In [32]:
# 모든 문서 조회
for doc in collection.find():
    print(doc)

{'_id': ObjectId('65c07238bffbe3d6502b6f57'), 'name': 'John1', 'age': 302, 'city': 'New York2'}
{'_id': ObjectId('65c07238bffbe3d6502b6f58'), 'name': 'John2', 'age': 303, 'city': 'New York3'}
{'_id': ObjectId('65c0735cbffbe3d6502b6f5b'), 'name': 'John1', 'age': 302, 'city': 'New York2'}
{'_id': ObjectId('65c0735cbffbe3d6502b6f5c'), 'name': 'John2', 'age': 303, 'city': 'New York3'}
{'_id': ObjectId('65c0735dbffbe3d6502b6f5d'), 'name': 'John', 'age': 33, 'city': 'New York'}
{'_id': ObjectId('65c0735dbffbe3d6502b6f5f'), 'name': 'John1', 'age': 302, 'city': 'New York2'}
{'_id': ObjectId('65c0735dbffbe3d6502b6f60'), 'name': 'John2', 'age': 303, 'city': 'New York3'}

In [33]:
# 콜렉션 삭제
db.drop_collection("example_collection")

# 데이터베이스 삭제
client.drop_database("example_db")

In [34]:
# 모든 문서 조회
for doc in collection.find():
    print(doc)